@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    margin: 0;
    background-color: #000;
    overflow: hidden; /* Prevent scrollbars */
    width: 100vw;
    height: 100vh;
    display: block; /* Remove flex centering */
    font-family: 'Orbitron', sans-serif;
}

#game-container {
    width: 100%;
    height: 100%;
    border: none; /* No border needed for fullscreen feel */
}

canvas {
    background-color: #000;
    display: block;
    width: 100%;
    height: 100%;
}